body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    text-align: center;
}

.task {
    display: grid;
}

.task__info {
	border-right: 1px dashed #0a3444;
	border-bottom: 1px dashed #0a3444;
}

.task__name {
    overflow-wrap: break-word;
}

.task__start {
    font-weight: bold
}

.task__chart {
	align-self: center;
    height: 50px;
    border-radius: 25px;
    animation: fadeIn 1s linear;
}

@keyframes fadeIn {
    0% {
        width: 0;
        opacity: 0
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

.gantt__row:nth-child(3) .gantt__row-bars {
	border-top: 0;
}

.gantt__row:nth-child(odd) {
    background-color: #f5f5f5;    
}

.gantt__row--lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    grid-template-columns: 150px repeat(12, 1fr);
}

.gantt__row--lines span {
	display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

gantt__row--lines span.marker {
	background-color: rgba(10, 52, 68, 0.13);
    z-index: 2;
}

.gantt__row:after {
    grid-row: 1;
    grid-column: 0;
    background-color: #1688b345;
    z-index: 2;
    height: 100%;
}

span {
    text-align: center;
    font-size: 13px;
    align-self: center;
    font-weight: bold;
    padding: 20px 0;
}

.gantt__row-bars {
    list-style: none;
    display: grid;
    padding: 9px 0;
    margin: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 8px 0;
    border-top: 1px solid rgba(221, 221, 221, 0.8);
}

.gantt__row-bars li {
	font-weight: 500;
    text-align: left;
    font-size: 14px;
    min-height: 15px;
    background-color: #55de84;
    padding: 5px 12px;
    color: #fff;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}

gantt__row-bars.stripes {
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.1) 5px, rgba(255,255,255,.1) 12px);
}

gantt__row-bars:before,
gantt__row-bars:after {
    content: "";
    height: 100%;
    top: 0;
    z-index: 4;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}
gantt__row-bars:before {
    left: 0;
}
gantt__row-bars:after {
    right: 0;
}

input {
    grid-area: 2/2/3/100;
}

#navbar {
    margin: auto;
    display: flex;
    width: 25%;
    min-width: 300px;
    margin-bottom: 20px;
    justify-content: space-between;
}

#navbar > a {
    color: #0a3444;
    text-decoration: none;
}

#period {
    display: inline-flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
}

.addTaskForm {
    display: none;
    flex-direction: column;
    width: 20%;
    height: 220px;
    justify-content: space-between;
    border: 1px dashed #0a3444;
    padding: 20px;
    z-index: 3;
    position: absolute;
    left: 40%;
    right: 40%;
    background-color: aliceblue;
}

button[type='submit'] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#blankCell {
    background-color: #0a3444;
	border: 1px solid #0a3444;
	border-right: 1px dashed white;
    padding: 15px 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

#months {
	display: grid;
	color: #fff;
	background-color: #0a3444;
}

#months span {
    border-right: 1px solid white;
}
